<header class="tweek-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>TWEEK.IO</h1>
      <p class="text-primary"> Put your gaming knowledge to the test in the fast paced high intensity challange. We will pull a preview of a stream
        from the <a href="https://www.twitch.tv/">Twitch</a> API and you are tasked with identifying the game. Easy huh?
        </p>
      <p class="text-primary">Not so fast, the image will be covered up and as time goes on the cover will begin to deteriorate. The more games you
        can identify before the image is completely uncovered the more points you will earn.</p>

      <a class="btn btn-primary">Play now</a>
    </div>
  </div>
</header>

<!--<div class="jumbotron">
  <h1>Do you even tweek?</h1>
  <div class="start">
    <div class="input-group userField" width="50%">
      <span class="input-group-addon" id="basic-addon1">Choose a user name</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" size="50" [(ngModel)]="userName">
    </div>
    <br />
      <button  class="btn btn-primary btn-lg " (click)="start()"> Let the games begin! </button>
  </div>
  <div class="padLeft">
    <h3>Description </h3>
      <p> Put your gaming knowledge to the test in the fast paced high intensity challange. We will pull a preview of a stream from the <a href="https://www.twitch.tv/">Twitch</a> API and you are tasked with identifying the game. Easy huh? </p>
      <p>Not so fast, the image will be covered up and as time goes on the cover will begin to deteriorate. The more games you can identify before the image is completely uncovered the more points you will earn.</p>

    <h3>Scoring </h3>
    <ul>
      <li> <strong>10 points </strong> per correct answer while all 4 quadrants of the cover are still visible</li>
      <li> <strong>8 points </strong> per correct answer while at least 3 quadrants of the cover are still visible</li>
      <li> <strong>6 points </strong> per correct answer while at least 2 quadrants of the cover are still visible</li>
      <li> <strong>4 points </strong> per correct answer while at least 1 quadrants of the cover are still visible</li>
      <li> <strong>-2 </strong> per incorrect answer</li>
      <li> <strong>Penalty </strong> - every incorrect guess will prevent you from guessing again for 2 seconds</li>
    </ul>
</div>
</div>-->