<div>
  <header>
    <nav id="mainNav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand page-scroll" href="#page-top">Tweek</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a [routerLink]="['/home']"> Home </a>
            </li>
            <li>
              <a [routerLink]="['/topscores']"> Scores </a>
            </li>
            <li>
              <a [routerLink]="['/playground']"> Play! </a>
            </li>
            <li>
              <a [routerLink]="['/questionTest']"> Question Test </a>
            </li>
            <li>
              <a [routerLink]="['/plugin']"> Plugin </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <footer>
    Nesh + Evan + John + Jake &copy;....
  </footer>
</div>